# Environments
.env
.env.local
.env.development
.env.test
.env.production

# Dependencies
node_modules/
.venv/
venv/
env/
__pycache__/
*.pyc

# Builds
dist/
build/
*.egg-info/

# OS specific
.DS_Store
Thumbs.db

# Tests
test-results/
coverage/
